@model IEnumerable<Facilitet>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Facilitets List";
}

<form asp-controller="Facilitet" asp-action="List" method="post">
    <table>
        <thead>
            <tr>
                <th>Bolig_Id</th>
                <th>Faciliteter</th>
                <th>Facilitet_Beskrivelser</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var facilitet in Model)
            {
                <tr>
                    <td>@facilitet.Bolig_Id</td>
                    <td>@facilitet.Faciliteter</td>
                    <td>@facilitet.Facilitet_Beskrivelser</td>
                    <td><a asp-controller="Facilitet" asp-action="Details" asp-route-id="@facilitet.Facilitet_Id">
                        View</a></td>
                    <td><a asp-controller="Facilitet" asp-action="Edit" asp-route-id="@facilitet.Facilitet_Id">
                        Edit</a></td>
                    <td><a asp-controller="Facilitet" asp-action="Delete" asp-route-id="@facilitet.Facilitet_Id">
                        Delete</a></td>

                    @*<td><button asp-controller="facilitet" asp-action="edit" 
                                asp-route-id="@facilitet.Facilitet_Id" type="submit">Edit</button></td>
                    <td><button asp-controller="Facilitet" asp-action="Details" 
                                asp-route-id="@facilitet.Facilitet_Id" type="submit">Details</button></td>*@

                </tr>
            }
        </tbody>
    </table>
    

</form>
